body {
	width: 360px;
	max-width:100%;
	height:auto;
	font-family: Segoe UI, Regular;
	margin: 0px;
	padding: 0px;
	background-color: #B1EAFF;
}

#container {
	width: 360px;
	max-width:100%;
	height:auto;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.font {
	color: #009CDE;
	padding: 11px 123px;
	width: 50px;
	text-emphasis: center;

}

.btn {
	border: solid 1px transparent;
	padding: 11px 123px;
	border-radius: 30px;
}
.btn2 {
	border: solid 1px transparent;
	padding: 11px 60px;
	border-radius: 30px;
	background: #FFFFFF;
	opacity: 0.5;
}
.btn3 {
	border: solid 1px transparent;
	padding: 11px 86px;
	border-radius: 30px;
	background: #FFFFFF;
	opacity: 0.5;
}
.btn4 {
	border: solid 1px transparent;
	padding: 11px 66px;
	border-radius: 30px;
	background: #FFFFFF;
	opacity: 0.5;
}
.place {
	border: solid 1px transparent;
	padding: 11px 60px;
	border-radius: 30px;
	background: #FFFFFF;
	opacity: 0.5;
}

.btn-primary {
	background: #009CDE;
	transition: background 0.3s linear 0s;
	color: #FFFFFF;
}
.btn-primary:hover {
	background: #34b1e7;
}

.logo{
	padding: 0px 0px;
	left: 50%;
    margin-right: 30%;
	transform: translate(40%, 20%)
}.btn-wpp{
	width: 200px;
	padding: 0px 0px;
	left: 50%;
    margin-right: 50%;
    transform: translate(22%, 20%)
}

@media screen and (max-width: 768px) {
	body{
	width: 100%;
	padding: 0;
	}
}

@media screen and (max-width: 640px) {
	body{
	width: 640px;
	max-height: 360px;
	padding: 0;
	margin-left: 13%;
	}
}